[Unit]
Description=THM KoTH service

[Service]
User=root
Group=root
WorkingDirectory=/bin
ExecStart=/bin/koth
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
